        <div id="comments">
            <g:comments href="http://loadingdata.nl{{url absolute="true"}}" width="640" first_party_property="BLOGGER" view_type="FILTERED_POSTMOD"></g:comments>
        </div>
<!-- Asynchronous Google Plus Comments -->
<script>
	(function() {
	  var gp = document.createElement('script'); gp.type = 'text/javascript'; gp.async = true;
	  gp.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'apis.google.com/js/plusone.js';
	  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gp, s);
	})();
</script>
